# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Python
__pycache__/
*.py[cod]
*.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea
.vscode

# OS specific
.DS_Store

# Local environment
.env

# Local development artifacts
*.log
*.sqlite
*.db
screenshots/*.png
