flask==2.2.5
flask-wtf==1.2.1
playwright==1.42.0
playwright-stealth==1.0.6
playwright-recaptcha==0.2.3
python-dotenv==1.0.1
werkzeug==2.2.3
wtforms==3.1.2
gunicorn==21.2.0
waitress==3.0.2
requests==2.32.3
Pillow==10.2.0
pyvirtualdisplay==3.0
webdriver-manager==4.0.1
google-cloud-storage==2.15.0
google-cloud-logging==3.10.0
google-cloud-secret-manager==2.19.0
pymysql==1.1.0 